<!DOCTYPE html>
<html lang="cs" class="x">

    <head>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Bootstrap core CSS -->
        <link href="{$baseUrl}/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="{$baseUrl}/assets/css/style.css" rel="stylesheet">
        <!-- Main CSS -->
        <link href="{$baseUrl}/assets/css/main.css" rel="stylesheet">
        <title>{ifset $title}{$title|striptags}{/ifset}</title>

    </head>
    <body>
        <header>
            <nav class="mb-1 navbar navbar-expand-lg navbar-dark info-color fixed-top">
                <div class="container">
                    <a class="navbar-brand" n:href="Homepage:">Knihovna ZŠHT</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" n:href="Homepage:">
                                    <i class="fa fa-home"></i> Úvod
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" n:href="Page:about">
                                    <i class="fa fa-info"></i> O nás</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" n:href="Page:services">
                                    <i class="fa fa-child"></i> Služby</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"  n:href="Books:">
                                    <i class="fa fa-book"></i> Seznam knih</a>
                            </li>
                            {if !$user->isLoggedIn()}
                                <li class="nav-item">
                                    <a class="nav-link" n:href="Register:">
                                        <i class="fa fa-registered"></i> Registrovat</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" n:href="Login:">
                                        <i class="fa fa-sign-in"></i> Přihlásit</a>
                                </li>
                            {else}
                                {if $user->isInRole("authenticated")}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <i class="fa fa-user"></i> Profil  
                                            {foreach $Late as $row}
                                                {if $row->late > 0}
                                                    <strong class="text-danger">({$row->late})</strong>
                                                {/if}
                                            {/foreach}</a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                                            <a class="dropdown-item waves-effect waves-light" n:href="Profile:"><i class="fa fa-id-card"></i> Můj profil</a>
                                            <a class="dropdown-item waves-effect waves-light" n:href="Logout:"><i class="fa fa-sign-out"></i> Odhlásit</a>
                                        </div>
                                    </li>
                                {else}
                                    <li class="nav-item">
                                        <a class="nav-link waves-effect waves-light" n:href="Administration:">
                                            <i class="fa fa-keyboard-o"></i> Administrace</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link waves-effect waves-light" n:href="Leases:">
                                            <i class="fa fa-archive"></i> Výpujčky</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link waves-effect waves-light" n:href="Logout:">
                                            <i class="fa fa-sign-out"></i> Odhlásit</a>
                                    </li>
                                {/if}

                            {/if}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main>

            {include content}         


        </main>

            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <strong class="footer-text">©2018 ZŠHT | KNIHOVNA</strong>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <a href="{$baseUrl}/assets/regulations/Řád_knihovny.pdf" target="_blank">
                            <strong class="footer-text">Řád knihovny</strong>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <strong class="footer-text">Vytvořil Jakub Jányš</strong>
                        </div>
                    </div>
                </div>
            </footer>
        {block scripts}
        <script src="https://nette.github.io/resources/js/netteForms.min.js"></script>

        <script type="text/javascript" src="{$baseUrl}/assets/js/jquery-3.3.1.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="{$baseUrl}/assets/js/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="{$baseUrl}/assets/js/bootstrap.min.js"></script>
    
        <script type="text/javascript" src="{$baseUrl}/assets/js/main.js"></script>

        <script type="text/javascript">
            $(function () {
                console.log("%cNic sem nevkládejte!", "color: red; font-size: x-large;");
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>

        {/block}
    </body>
</html>
