{var $title = 'Kontakt'}

{block content}
<p>Základní škola, Hrochův Týnec, okres Chrudim</p>
<p>Mgr. Lenka Rousková</p>
<p>Nádražní 253</p>
<p>Hrochův Týnec</p>
<p>538 62</p>
<p>+420 469 692 123</p>
<p>lenka.cj@gmail.com</p>
{/block}