{var $title = 'Vytvořit výpujčku'}
{block content}
<div class="row">
    <div class="col-md-5">
        <h2>Vytvořit výpujčku</h2>
        <hr>
        {control createLeaseForm}
         <br>
    </div>
</div>
{/block}