{var $title = 'Upravit výpůjčku'}
{block content}
<div class="row">
    <div class="col-md-12">
        <h2>Upravit výpůjčku</h2>
        <hr>
        {control editLeaseForm}
         <br>
         <a n:href="Leases:">Zpět</a>
    </div>
</div>
{/block}