{block content}
<div class="container">
    <div class="row animated animatedFadeInUp fadeInUp">
        <div class="col-lg-12 white-background">
            <strong class="h5">Akce</strong>

        </div>            
    </div>
</div>
{/block}           
