{var $title = 'Administrace - vytvořit akci'}
{block content}
<div class="row">
    <div class="col-md-12">
        <h2>Vytvořit akci</h2>
        <hr>
        {control createEventForm}
         <br>
         <a n:href="Administration:eventManagement">Zpět</a>
    </div>
</div>
{/block}