{var $title = 'Administrace - vytvořit knihu'}
{block content}
<div class="row">
    <div class="col-md-12">
        <h2>Vytvořit knihu</h2>
        <hr>
        {control createBookForm}
         <br>
         <a n:href="Administration:bookManagement">Zpět</a>
    </div>
</div>
{/block}