{var $title = 'Duplikovat knihu'}
{block content}
<div class="row">
    <div class="col-md-12">
        <h2>Duplikovat knihu</h2>
        <hr>
        {control duplicateBookForm}
         <br>
         <a n:href="Administration:bookManagement">Zpět</a>
    </div>
</div>
{/block}