{var $title = 'Upravit knihu'}
{block content}
<div class="row">
    <div class="col-md-12">
        <h2>Upravit knihu</h2>
        <hr>
        {control editBookForm}
         <br>
         <a n:href="Administration:bookManagement">Zpět</a>
    </div>
</div>
{/block}