{var $title = 'Upravit novinku'}
{block content}
<div class="row">
    <div class="col-md-12">
        <h2>Upravit novinku</h2>
        <hr>
        {control editNewForm}
         <br>
         <a n:href="Administration:eventManagement">Zpět</a>
    </div>
</div>
{/block}