{block content}
<h5 class="card-header">Novinky</h5>
<div class="card-body">
    {if count($MyNews) > 0 }
        {foreach $MyNews as $row}            
            <strong class="card-my-text">{$row->news_name} - {$row->news_date}</strong><hr>
       {/foreach}
        <a n:href="News:newsMore" class="btn btn-primary btn-more">Více</a>
    {else}
        <strong class="card-my-text">Nemáme žádné novinky.</strong>    
    {/if}
</div>
{/block}           



